body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

h1 {
    text-align: center;
    padding: 30px 0;
}

.container {
    width: 90%;
    margin: auto;
}

.image-box {
    margin: 60px 0;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease;
}

.image-box.show {
    opacity: 1;
    transform: translateY(0);
}

img {
    width: 100%;
    border-radius: 12px;
}
