body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

h1 {
    text-align: center;
    padding: 30px 0;
}

.section {
    margin: 120px 0;
}

/* IMAGEN */
.image-box {
    opacity: 0;
    transform: translateY(60px) scale(0.96);
    filter: blur(6px);
    transition: all 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}

.image-box.show {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
}

.image-box img {
    width: 100%;
    border-radius: 14px;
}

/* TEXTO */
.description {
    max-width: 700px;
    margin: 30px auto 0;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
    color: #ccc;

    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease;
}

.description.show {
    opacity: 1;
    transform: translateY(0);
}


img {
    width: 100%;
    border-radius: 12px;
}
